body{
    text-align:center;
    font-family: "PT Mono", monospace;
    margin:1vw;
}
h2{
    font-weight: 100;
    padding-top:5vh;
    text-decoration: underline;
}
ul{
    list-style-type: none;
    padding:0;
}

.container{
    grid-template-columns:repeat(auto-fit,300px);
    grid-template-rows:repeat(3,300px);
    grid-gap:1rem;
}
.container > div{
    background:#EDE7F6;
}
