*{
    margin:0;
    box-sizing: border-box; 
}
body{
    margin:5vw 5vw;
    font-family: futura;
    font-size:20px;
}

h1{
    font-family: "paytone one";
    font-size:3rem;
    margin-bottom:2rem;
    color:#ED1F2A;
}
h3{
    font-family: futura, sans-serif;
    font-size:1.5rem;
    margin-bottom:1rem;
    color:#2867B2;
}
.h3i{
    color:purple;
}
p{
    font-family: avenir;
    margin-bottom:1rem;
}
a{
    text-decoration: none;
    margin-bottom:1rem;
    color:rgb(255, 117, 25);
}
a:hover{
    color:purple;
}
a:focus{
    color:purple;
}
.navIcon1:hover{
    background-color:purple;
}
.navIcon2:hover{
    background-color:rgb(255, 117, 25);
}
.navIcon3:hover{
    background-color:green;
}
a:active{
    color:purple;
}
a:visited{
    color:rgb(255, 117, 25);
}
iframe{
    margin-bottom:1rem;
}
video{
    margin-bottom:1rem;
}

.tab{
    overflow:hidden;
    border:none;
}
.tab button{
    background-color:#f1f1f1;
    border:none;
    outline:none;
    float:left;
    padding:14px 12px;
    transition:0.3;
    color:#2867B2;
    font-family: futura, sans-serif;
    font-size:1.5rem;
    font-weight:600;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
}

.row{
    display:flex;
    flex-wrap:wrap;
}
.column{
    flex:33%;
    max-width:33%;
    padding-right:4px;
}
.column img{
    vertical-align:middle;
    width:100%;
    max-width:100%;
    padding-bottom:1rem;
}
@media screen and (max-width:600px){
    .column{
        flex:100%;
        max-width:100%;
    }
}