html{
    font-family:courier;
    padding:0 2em;
}
input[type=text],input[type=color],button,text-area{
    outline:none;
    text-decoration:none;
    text-shadow:none;
    border:solid 1px;
    margin:0 1px;
}
input[type=text]{
    font-size:12px;
}
text-area{
    color:red;
}
.alignmentControls{
    display:flex;
    flex-direction:row;
}
button:hover,button:active,button:focus{
    text-decoration:underline;
}

@media only screen and (min-width: 736px){
    #imgFrame1,#imgFrame2,#newDocFrame{
        width:400px;
        height:400px;
        overflow:hidden;
        position:relative;
    }
    #imgFrame1{
        margin-bottom:1.5em;
    }
    #img1,#img2,#newDocImage{
        position:absolute;
    }
    #img1{
        width:500px;
        top:-150px;
        object-fit:cover;
    }
    #img2{
        width:500px;
        top:-14px;
        right:-50px;
    }
    #newDocImage{
        left:-35px;
        top:-35px;
    }
}
@media only screen and (max-width: 735px){
    #imgFrame1,#imgFrame2,#newDocFrame{
        width:300px;
        height:300px;
        overflow:hidden;
        position:relative;
    }
    #imgFrame1{
        margin-bottom:1.5em;
    }
    #img1,#img2,#newDocImage{
        position:absolute;
    }
    #img1{
        top:-230px;
        left:-90px;
        object-fit:cover;
    }
    #img2{
        width:450px;
        top:-14px;
        right:-70px;
    }
    #newDocImage{
        left:-50px;
        top:-50px;
    }
}
